<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Password</title>
</head>
<body>
	<h1>I'm very special and am produced from the alternative layout file on every page</h1>
	<%= yield %>
	<h1>I'm very special and am produced  from the alternative layout file on every page</h1>
</body>
</html>
