<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Password</title>
</head>
<body>
	<h1>I am produced from the layout file on every page</h1>
	<%= yield %>
	<h1>I am also produced from the layout file on every page</h1>
</body>
</html>
